.portfolio-page {
    min-height: 100svh;
    width: 100%;
}

.portfolio-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}

.portfolio-title {
    margin-top: 12vh;
}

.filters-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.filters-item {
    cursor: pointer;
    padding: 5px 12px;
    margin: 5px 5px;
    color: black;
    font-weight: 600;
    background-color: var(--white);
    border: var(--white) 1px solid;
    border-radius: var(--itemRadius);
}

.filters-item:hover,
.filters-item:focus {
    background-color: black;
    color: var(--white);
}

.filters-item-active {
    background-color: black;
    color: var(--white);
}
