/* Edit variables here to ensure timeline doesn't mess up */
:root {
    --timelineWidth: 5px;
    --timelineCircleWidth: 1.4em;
    --timeLineLeftMargin: 8%;
    --timelineItemHeight: 40%;
    --gapBetween: 10px;
}

.about-timeline-container {
    display: flex;
    margin: 3em 0;
}

.about-timeline {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
}

/* The line of the timeline */
.about-timeline:before {
    content: '';
    width: var(--timelineWidth);
    height: calc(100%);
    background-color: var(--white);
    position: absolute;
    left: var(--timeLineLeftMargin);
    border-radius: 20px;
}

.about-timeline-item {
    width: calc(100% - var(--timeLineLeftMargin) * 2);
    height: var(--timelineItemHeight);
    margin-left: 8%;
    margin-bottom: 6%;
    position: relative;
    transform-origin: -0% 50%;
}

.about-timeline-item:nth-child(3) {
    margin-bottom: 0;
}

/* Dot on the timeline */
.about-timeline-item:before {
    content: '';
    border-radius: 50%;
    width: var(--timelineCircleWidth);
    height: var(--timelineCircleWidth);
    background-color: var(--white);
    position: absolute;
    top: calc(50% - var(--timelineCircleWidth)/2);
    left: calc(-0% - var(--timelineCircleWidth) / 2 + var(--timelineWidth)/2);
}

.about-timeline-item-container {
    text-align: left;
    border-radius: 10px;
    padding: 1em;
    color: black;
    background-color: var(--white);
    width: calc(100% - var(--timelineCircleWidth) - var(--gapBetween));
    margin: 0 calc(var(--timelineCircleWidth) + var(--gapBetween));
}

.timeline-header {
    background-color: black;
    border-radius: var(--itemRadius);
    padding: 5% 5%;
    color: var(--white);
    margin: 2px 0;
}

.about-timeline-item-role {
    /* font-weight: 900; */
}

.about-timeline-item-company {
    font-weight: 900;
    cursor: pointer;
}

.timeline-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: var(--itemRadius);
    background-color: black;
}

.about-timeline-item-logo {
    filter: grayscale();
    width: 100%;
    object-fit: cover;
    
}

.timeline-row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline-col div {
    width: 100%;
}

.timeline-item-desc li{
    font-size: max(60%, 14px);
    /* list-style-type: disc; */
    list-style-position: inside;
    padding: 3px 0;
    /* padding: 10px 0 10px 20px;
    text-indent: -1em; */
}

.about-timeline-item-dates {
    padding: 5px 10px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid black;
    color: var(--white);
    /* margin-left: auto; */
    font-size: 75%;
    cursor: pointer;
    margin: 2px 0;
}

.about-timeline-item-btn {
    padding: 5px 10px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid black;
    color: var(--white);
    margin-left: auto;
    font-size: 75%;
    cursor: pointer;
}

.about-timeline-item-btn:focus,
.about-timeline-item-btn:hover {
    background-color: white;
    color: black;
}

.about-timeline-item-bottom {
    display: flex;
    flex-wrap: wrap;

}

.timeline-item-tags {
    background-color: black;
    font-size: 80%;
    padding: 5px 8px;
    margin: 2px;
    color: var(--white);
    border-radius: var(--itemRadius);
}

