/* Edit variables here to ensure timeline doesn't mess up */
:root {
    --timelineWidth: 5px;
    --timelineCircleWidth: 1.4em;
    --timeLineLeftMargin: 8%;
    --timelineItemHeight: 40%;
    --gapBetween: 10px;
}

.about-timeline {
    height: 100%;
    width: 100%;
    position: relative;
}

/* The line of the timeline */
.about-timeline:before {
    content: '';
    width: var(--timelineWidth);
    height: 100%;
    background-color: var(--white);
    position: absolute;
    left: var(--timeLineLeftMargin);
}

.about-timeline-item {
    width: calc(100% - var(--timeLineLeftMargin) * 2);
    height: var(--timelineItemHeight);
    margin-left: 8%;
    margin-bottom: 5%;
    position: relative;
}

/* Dot on the timeline */
.about-timeline-item:before {
    content: '';
    border-radius: 50%;
    width: var(--timelineCircleWidth);
    height: var(--timelineCircleWidth);
    background-color: var(--white);
    position: absolute;
    left: calc(-0% - var(--timelineCircleWidth) / 2 + var(--timelineWidth)/2);
}

.about-timeline-item-container {
    text-align: left;
    border-radius: 10px;
    padding: 1em;
    background-color: coral;
    width: calc(100% - var(--timelineCircleWidth) - var(--gapBetween));
    margin: 0 calc(var(--timelineCircleWidth) + var(--gapBetween));
}
