.about-page {
    height: auto;
    width: 100%;
}

.about-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}

.about-section-one {
    flex-direction: column;
}

.about-title span {
    color: var(--white);
}

.about-section-two {
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 50vh;
}

.about-timeline {
    height: 100%;
    width: 100%;
    position: relative;
    }/* Edit variables here to ensure timeline doesn't mess up */:root
    {
        --timelineWidth: 5px;
        --timelineCircleWidth: 1.4em;
        --timeLineLeftMargin: 8%;
        --timelineItemHeight: 40%;
        --gapBetween: 10px;
    }

    .about-timeline:before {
        content: '';
        width: var(--timelineWidth);
        height: 100%;
        background-color: var(--white);
        position: absolute;
        left: var(--timeLineLeftMargin);
    }

    .about-timeline-item {
        /* background-color: brown; */
        width: calc(100% - var(--timeLineLeftMargin) * 2);
        height: var(--timelineItemHeight);
        margin-left: 8%;
        margin-bottom: 5%;
        position: relative;
    }

    .about-timeline-item:before {
        content: '';
        border-radius: 50%;
        width: var(--timelineCircleWidth);
        height: var(--timelineCircleWidth);
        background-color: var(--white);
        position: absolute;
        top: calc(var(--timelineItemHeight) / 2);
        left: calc(-0% - var(--timelineCircleWidth) / 2 + var(--timelineWidth)/2);
    }

    .about-timeline-item-content{
        text-align: left;
        background-color: coral;
        width: calc(100% - var(--timelineCircleWidth) - var(--gapBetween));
        margin: 0 calc(var(--timelineCircleWidth) + var(--gapBetween));
    }
