.navigation {
    z-index: 1;
    position: fixed;
    width: 100vw;
}

.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navigation ul a{
    margin: 5px;
    padding: 10px;
}
